@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1440px;
    }
}
@media (min-width: 319px) and (max-width: 359px ){
.footer-area .widget-about img {
    display: block;
    margin-bottom: -15px;
}
.footer-area .footer-big {
    padding: 18px 0 0px 0;
}
.footer-area .footer-big .footer-widget {
    margin-bottom: 40px;
    text-align: center;
}
.footer-widget-title.footer-menu {
    text-align: center;
}
.widget-about {
    display: flex;
    justify-content: center;
}
.footer-area img {
    max-width: 100%;
    width: 50%;
}

div#navbarNav2 {
    background: #FFFFFF;
    margin-top: -20px;
    padding: 5px 25px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 6px 16px rgb(0 0 0 / 16%);
    border-radius: 5px;
}
.bg_img {
    background-size: 83%;
    top: 0%;
    left: -106px;
}
.bg_img1 {
    background-size: 50% !important;
    top: -1px;
}
.bg_img2 {
    background: url(../images/Group_751.png) no-repeat bottom 160px right 36%,url(../images/Group_751.png) no-repeat top 19px right 63%;
    background-size: 8%;
}
.pr_search p {
    font-size: 14px;
}
.heading_title {
    padding-top: 0px;
}
.heading h1 {
    font-size: 28px;
}
.header_bg {
    background-size: 109%;
    left: -60px;
    top: 5%;
}
.header_bg2 {
    background: url(../images/Polygon_18.png) no-repeat right -16% top;
    background-size: 48%;
    top: 367px;
}
.header_bg3 {
    background: url(../images/Group_726.png) no-repeat bottom 95px left 20%,url(../images/Group_724.png) no-repeat top 482px right 63%;
    background-size: 13%;
    height: 840px;
}
.header_top .nav-link>span{
    display: none;
}
.header_inner .logo-img {
    width: 180px;
}

div#navbarNav2 {
    background: #FFFFFF;
    margin-top: -20px;
    padding: 5px 25px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 6px 16px rgb(0 0 0 / 16%);
    border-radius: 5px;
}
.widget-about {
    display: flex;
    justify-content: center;
}
.footer-area img {
    max-width: 100%;
    width: 36%;
}


.footer-area .widget-about img {
    display: block;
    margin-bottom: -15px;
}
.footer-area .footer-big {
    padding: 18px 0 0px 0;
}
.footer-area .footer-big .footer-widget {
    margin-bottom: 40px;
    text-align: center;
}
.footer-widget-title.footer-menu {
    text-align: center;
}
.bg_img {
    background-size: 68%;
    top: 0%;
    left: -106px;
}
.bg_img1 {
    background-size: 45% !important;
    top: -18px;
    background: url(../images/Polygon_18.png) no-repeat;
    background-position: right -15% top !important;
}
.bg_img2 {
    background: url(../images/Group_751.png) no-repeat bottom 160px right 36%,url(../images/Group_751.png) no-repeat top 19px right 63%;
    background-size: 8%;
}
.pr_search p {
    font-size: 14px;
}
.heading_title {
    padding-top: 0px;
}
.heading h1 {
    font-size: 28px;
}
.header_bg {
    background-size: 78%;
    left: -70px;
    top: 3%;
}
.header_bg2 {
    background: url(../images/Polygon_18.png) no-repeat right -8% top;
    background-size: 39%;
    top: 297px;
}
.header_bg3 {
    background: url(../images/Group_726.png) no-repeat bottom 37px left 6%,url(../images/Group_724.png) no-repeat top 451px right 70%;
    background-size: 13%;
    height: 840px;
}
.header_top .nav-link>span{
    display: none;
}
.service_main {
    max-width: 100%;
    height: 458px;
    background-size: 154%;
    padding: 76px 52px 0px 47px;
}
.ser_md_card1 {
    margin-top: 425px;
}
.ser_md_card2 {
    margin-top: 429px;
}
.services p {
    color: #A8A8A8;
    font-size: 15px;
    padding: 2px 0px;
}
.service_main>img {
    margin-top: -10px;
    width: 60px;
}
.ser_md_card1 {
    margin-top: 414px;
}
.ser_md_card2 {
    margin-top: 414px;
}
.weare_sec {
    background: url(../images/Polygon_18.png) repeat-x top 10% left 766%;
    background-size: 385px;
    margin-top: 333px;
}
.weare_sec .weare_inner {
    padding-top: 110px;
}
.weare_btn>button {
    margin-bottom: 20px;
}
.weare_btn>button {
    margin-bottom: 14px;
    font-size: 16px;
}

.our_works h2{
    text-align: center;
    padding: 0px;
    font-size: 34px;
    margin-top: 46px;
}
.our_clients h2{
    font-size: 34px;
}
.our_clients_inner {
    padding-top: 94px;
    padding-bottom: 106px;
}
.callus_inner{
    flex-direction:column;
    align-items: center;
}
.callus h1 {
    font-size: 22px;
    margin-bottom: 14px;
}
.callus button {
    font-size: 22px;
    padding: 7px 30px;
}
.clients_bg {
    background-size: 35%;
    top: 28%;
    left: -49px;
    height: 260px;
}
.clients_bg2 {
    background: url(../images/Polygon_17.png) no-repeat right -23% top -62px;
    background-size: 42%;
}
.clients_bg3 {
    background: url(../images/Group_730.png) no-repeat top 0 left 9%,url(../images/Group_726.png) no-repeat top 0 right 36%;
    background-size: 17%;
    top: 18px;
}
.clients_bg4 {
    background: url(../images/Group_732.png) no-repeat bottom 0 left 40%,url(../images/Group_732.png) no-repeat bottom 0 right 9%;
    background-size: 16%;
}
.our_clients p {
    font-size: 18px;

}
.our_clients img {
    max-width: 117px;
}
.callus_bg4 {
    background: url(../images/Polygon_22.png) no-repeat bottom 14px left 9%,url(../images/Polygon_21.png) no-repeat bottom 155px right 15%,url(../images/Polygon_20.png) no-repeat bottom 25px right -20%,url(../images/Polygon_20.png) no-repeat bottom 3px right 25%;
    background-size: auto,12%,29%,12%;
}
}
@media (min-width: 360px) and (max-width: 400px ){
    
div#navbarNav2 {
    background: #FFFFFF;
    margin-top: -20px;
    padding: 5px 25px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 6px 16px rgb(0 0 0 / 16%);
    border-radius: 5px;
}
.widget-about {
    display: flex;
    justify-content: center;
}
.footer-area img {
    max-width: 100%;
    width: 36%;
}


.footer-area .widget-about img {
    display: block;
    margin-bottom: -15px;
}
.footer-area .footer-big {
    padding: 18px 0 0px 0;
}
.footer-area .footer-big .footer-widget {
    margin-bottom: 40px;
    text-align: center;
}
.footer-widget-title.footer-menu {
    text-align: center;
}

.bg_img {
    background-size: 68%;
    top: 0%;
    left: -106px;
}
.bg_img1 {
    background-size: 45% !important;
    top: -18px;
    background: url(../images/Polygon_18.png) no-repeat;
    background-position: right -15% top !important;
}
.bg_img2 {
    background: url(../images/Group_751.png) no-repeat bottom 160px right 36%,url(../images/Group_751.png) no-repeat top 19px right 63%;
    background-size: 8%;
}
.pr_search p {
    font-size: 14px;
}
.heading_title {
    padding-top: 0px;
}
.heading h1 {
    font-size: 28px;
}
.header_bg {
    background-size: 78%;
    left: -70px;
    top: 3%;
}
.header_bg2 {
    background: url(../images/Polygon_18.png) no-repeat right -8% top;
    background-size: 39%;
    top: 297px;
}
.header_bg3 {
    background: url(../images/Group_726.png) no-repeat bottom 37px left 6%,url(../images/Group_724.png) no-repeat top 451px right 70%;
    background-size: 13%;
    height: 840px;
}
.header_top .nav-link>span{
    display: none;
}
.header_inner .logo-img {
    width: 218px;
}
.service_main {
    max-width: 100%;
    height: 422px;
    background-size: 138%;
    padding: 76px 52px 0px 47px;
}
.ser_md_card1 {
    margin-top: 425px;
}
.ser_md_card2 {
    margin-top: 429px;
}
.services p {
    color: #A8A8A8;
    font-size: 15px;
    padding: 2px 0px;
}
.service_main>img {
    margin-top: -10px;
    width: 60px;
}
.ser_md_card1 {
    margin-top: 414px;
}
.ser_md_card2 {
    margin-top: 414px;
}
.weare_sec {
    background: url(../images/Polygon_18.png) repeat-x top 0% left 1319%;
    background-size: 385px;
    margin-top: 333px;
}
.weare_sec .weare_inner {
    padding-top: 110px;
}
.weare_btn>button {
    margin-bottom: 20px;
}
.weare_btn>button {
    margin-bottom: 14px;
    font-size: 16px;
}
.our_works h2{
    text-align: center;
    padding: 0px;
    font-size: 34px;
    margin-top: 46px;
}
.our_clients h2{
    font-size: 34px;
}
.our_clients_inner {
    padding-top: 94px;
    padding-bottom: 106px;
}
.callus_inner{
    flex-direction:column;
    align-items: center;
}
.callus h1 {
    font-size: 25px;
    margin-bottom: 14px;
}
.callus button {
    font-size: 22px;
    padding: 7px 30px;
}
.clients_bg {
    background-size: 35%;
    top: 30%;
    left: -49px;
    height: 260px;
}
.clients_bg2 {
    background: url(../images/Polygon_17.png) no-repeat right -23% top -62px;
    background-size: 42%;
}
.clients_bg3 {
    background: url(../images/Group_730.png) no-repeat top 0 left 9%,url(../images/Group_726.png) no-repeat top 0 right 36%;
    background-size: 17%;
    top: 18px;
}
.clients_bg4 {
    background: url(../images/Group_732.png) no-repeat bottom 0 left 40%,url(../images/Group_732.png) no-repeat bottom 0 right 9%;
    background-size: 16%;
}
.our_clients img {
    max-width: 117px;
}
.callus_bg4 {
    background: url(../images/Polygon_22.png) no-repeat bottom 14px left 9%,url(../images/Polygon_21.png) no-repeat bottom 155px right 15%,url(../images/Polygon_20.png) no-repeat bottom 25px right -20%,url(../images/Polygon_20.png) no-repeat bottom 3px right 25%;
    background-size: auto,12%,29%,12%;
}
}
@media (min-width: 401px ) and (max-width: 450px){
    div#navbarNav2 {
        background: #FFFFFF;
        margin-top: -20px;
        padding: 5px 25px;
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 6px 16px rgb(0 0 0 / 16%);
        border-radius: 5px;
    }
    .widget-about {
        display: flex;
        justify-content: center;
    }
    .footer-area img {
        max-width: 100%;
        width: 36%;
    }
    
    
    .footer-area .widget-about img {
        display: block;
        margin-bottom: -15px;
    }
    .footer-area .footer-big {
        padding: 18px 0 0px 0;
    }
    .footer-area .footer-big .footer-widget {
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-widget-title.footer-menu {
        text-align: center;
    }
 
    .bg_img {
        background-size: 68%;
        top: 0%;
        left: -106px;
    }
    .bg_img1 {
        background-size: 45% !important;
        top: -18px;
        background: url(../images/Polygon_18.png) no-repeat;
        background-position: right -15% top !important;
    }
    .bg_img2 {
        background: url(../images/Group_751.png) no-repeat bottom 160px right 36%,url(../images/Group_751.png) no-repeat top 19px right 63%;
        background-size: 8%;
    }
    .pr_search p {
        font-size: 14px;
    }
    .heading_title {
        padding-top: 0px;
    }
    .heading h1 {
        font-size: 28px;
    }
    .header_bg {
        background-size: 78%;
        left: -70px;
        top: 3%;
    }
    .header_bg2 {
        background: url(../images/Polygon_18.png) no-repeat right -8% top;
        background-size: 39%;
        top: 297px;
    }
    .header_bg3 {
        background: url(../images/Group_726.png) no-repeat bottom 37px left 6%,url(../images/Group_724.png) no-repeat top 451px right 70%;
        background-size: 13%;
        height: 840px;
    }
    .header_top .nav-link>span{
        display: none;
    }
    .header_inner .logo-img {
        width: 218px;
    }
    .service_main {
        max-width: 100%;
        height: 422px;
        background-size: 123%;
        padding: 76px 52px 0px 47px;
    }
    .ser_md_card1 {
        margin-top: 425px;
    }
    .ser_md_card2 {
        margin-top: 429px;
    }
    .services p {
        color: #A8A8A8;
        font-size: 15px;
        padding: 2px 20px;
    }
    .service_main>img {
        margin-top: -10px;
        width: 60px;
    }
    .ser_md_card1 {
        margin-top: 414px;
    }
    .ser_md_card2 {
        margin-top: 414px;
    }
    .weare_sec {
        background: url(../images/Polygon_18.png) repeat-x top 0% left 353%;
        background-size: 385px;
        margin-top: 333px;
    }
    .weare_sec .weare_inner {
        padding-top: 110px;
    }
    .weare_btn>button {
        margin-bottom: 20px;
    }
    .weare_btn>button {
        margin-bottom: 14px;
        font-size: 16px;
    }
    .our_works h2{
        text-align: center;
        padding: 0px;
        font-size: 35px;
        margin-top: 46px;
    }
    .our_clients h2{
        font-size: 35px;
    }
    .our_clients_inner {
        padding-top: 94px;
        padding-bottom: 106px;
    }
    .callus_inner{
        flex-direction:column;
        align-items: center;
    }
    .callus h1 {
        font-size: 29px;
        margin-bottom: 14px;
    }
    .callus button {
        font-size: 24px;
        padding: 7px 30px;
    }
    .clients_bg {
        background-size: 35%;
        top: 31%;
        left: -49px;
        height: 262px;
    }
    .clients_bg2 {
        background: url(../images/Polygon_17.png) no-repeat right -23% top -62px;
        background-size: 42%;
    }
    .clients_bg3 {
        background: url(../images/Group_730.png) no-repeat top 0 left 9%,url(../images/Group_726.png) no-repeat top 0 right 36%;
        background-size: 17%;
        top: 18px;
    }
    .clients_bg4 {
        background: url(../images/Group_732.png) no-repeat bottom 0 left 40%,url(../images/Group_732.png) no-repeat bottom 0 right 9%;
        background-size: 16%;
    }
    .callus_bg4 {
        background: url(../images/Polygon_22.png) no-repeat bottom 14px left 9%,url(../images/Polygon_21.png) no-repeat bottom 155px right 15%,url(../images/Polygon_20.png) no-repeat bottom 25px right -20%,url(../images/Polygon_20.png) no-repeat bottom 3px right 25%;
        background-size: auto,12%,29%,12%;
    }
    .callus_bg4 {
        background: url(../images/Polygon_22.png) no-repeat bottom 14px left 9%,url(../images/Polygon_21.png) no-repeat bottom 155px right 15%,url(../images/Polygon_20.png) no-repeat bottom 25px right -20%,url(../images/Polygon_20.png) no-repeat bottom 3px right 25%;
        background-size: auto,12%,29%,12%;
    }
    
}
@media (min-width: 451px ) and (max-width: 509px){
    div#navbarNav2 {
        background: #FFFFFF;
        margin-top: -20px;
        padding: 5px 25px;
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 6px 16px rgb(0 0 0 / 16%);
        border-radius: 5px;
    }
    .widget-about {
        display: flex;
        justify-content: center;
    }
    .footer-area img {
        max-width: 100%;
        width: 36%;
    }
    .footer-area .widget-about img {
        display: block;
        margin-bottom: -15px;
    }
    .footer-area .footer-big {
        padding: 18px 0 0px 0;
    }
    .footer-area .footer-big .footer-widget {
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-widget-title.footer-menu {
        text-align: center;
    }
    .bg_img {
        background-size: 68%;
        top: 0%;
        left: -106px;
    }
    .bg_img1 {
        background-size: 45% !important;
        top: -18px;
        background: url(../images/Polygon_18.png) no-repeat;
        background-position: right -15% top !important;
    }
    .bg_img2 {
        background: url(../images/Group_751.png) no-repeat bottom 160px right 36%,url(../images/Group_751.png) no-repeat top 19px right 63%;
        background-size: 8%;
    }
    .pr_search p {
        font-size: 14px;
    }
    .heading_title {
        padding-top: 0px;
    }
    .heading h1 {
        font-size: 28px;
    }
    .header_bg {
        background-size: 78%;
        left: -70px;
        top: 3%;
    }
    .header_bg2 {
        background: url(../images/Polygon_18.png) no-repeat right -8% top;
        background-size: 39%;
        top: 297px;
    }
    .header_bg3 {
        background: url(../images/Group_726.png) no-repeat bottom 37px left 6%,url(../images/Group_724.png) no-repeat top 451px right 70%;
        background-size: 13%;
        height: 840px;
    }
    .header_top .nav-link>span{
        display: none;
    }
    .header_inner .logo-img {
        width: 218px;
    }
    .service_main {
        max-width: 100%;
        height: 422px;
        background-size: 108%;
        padding: 76px 52px 0px 47px;
    }
    .ser_md_card1 {
        margin-top: 425px;
    }
    .ser_md_card2 {
        margin-top: 429px;
    }
    .services p {
        color: #A8A8A8;
        font-size: 15px;
        padding: 2px 20px;
    }
    .service_main>img {
        margin-top: -10px;
        width: 60px;
    }
    .ser_md_card1 {
        margin-top: 414px;
    }
    .ser_md_card2 {
        margin-top: 414px;
    }
    .weare_sec {
        background: url(../images/Polygon_18.png) repeat-x top 0% left 214%;
        background-size: 385px;
        margin-top: 333px;
    }
    .weare_sec .weare_inner {
        padding-top: 110px;
    }
    .weare_btn>button {
        margin-bottom: 20px;
    }
    .weare_btn>button {
        margin-bottom: 14px;
        font-size: 16px;
    }
    .our_works h2{
        text-align: center;
        padding: 0px;
        font-size: 35px;
        margin-top: 46px;
    }
    .our_clients h2{
        font-size: 35px;
    }
    .our_clients_inner {
        padding-top: 94px;
        padding-bottom: 106px;
    }
    .callus_inner{
        flex-direction:column;
        align-items: center;
    }
    .callus h1 {
        font-size: 32px;
        margin-bottom: 14px;
    }
    .callus button {
        font-size: 24px;
        padding: 7px 30px;
    }
    .clients_bg {
        background-size: 29%;
        top: 37%;
        left: -49px;
    }
    .clients_bg2 {
        background: url(../images/Polygon_17.png) no-repeat right -23% top -62px;
        background-size: 34%;
    }
    .clients_bg3 {
        background: url(../images/Group_730.png) no-repeat top 0 left 9%,url(../images/Group_726.png) no-repeat top 0 right 36%;
        background-size: 17%;
        top: 18px;
    }
    .clients_bg4 {
        background: url(../images/Group_732.png) no-repeat bottom 0 left 40%,url(../images/Group_732.png) no-repeat bottom 0 right 9%;
        background-size: 16%;
    }
    .callus_bg4 {
        background: url(../images/Polygon_22.png) no-repeat bottom 14px left 9%,url(../images/Polygon_21.png) no-repeat bottom 155px right 15%,url(../images/Polygon_20.png) no-repeat bottom 25px right -20%,url(../images/Polygon_20.png) no-repeat bottom 3px right 25%;
        background-size: auto,12%,29%,12%;
    }

}
@media (min-width: 510px ) and (max-width: 576px){
    div#navbarNav2 {
        background: #FFFFFF;
        margin-top: -20px;
        padding: 5px 25px;
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 6px 16px rgb(0 0 0 / 16%);
        border-radius: 5px;
    }
    .widget-about {
        display: flex;
        justify-content: center;
    }
    .footer-area img {
        max-width: 100%;
        width: 36%;
    }
    .footer-area .widget-about img {
        display: block;
        margin-bottom: -15px;
    }
    .footer-area .footer-big {
        padding: 18px 0 0px 0;
    }
    .footer-area .footer-big .footer-widget {
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-widget-title.footer-menu {
        text-align: center;
    }
   
    .bg_img {
        background-size: 68%;
        top: 0%;
        left: -106px;
    }
    .bg_img1 {
        background-size: 45% !important;
        top: -18px;
        background: url(../images/Polygon_18.png) no-repeat;
        background-position: right -15% top !important;
    }
    .bg_img2 {
        background: url(../images/Group_751.png) no-repeat bottom 160px right 36%,url(../images/Group_751.png) no-repeat top 19px right 63%;
        background-size: 8%;
    }
    .pr_search p {
        font-size: 14px;
    }
    .heading_title {
        padding-top: 0px;
    }
    .heading h1 {
        font-size: 28px;
    }
    .header_bg {
        background-size: 78%;
        left: -70px;
        top: 3%;
    }
    .header_bg2 {
        background: url(../images/Polygon_18.png) no-repeat right -8% top;
        background-size: 39%;
        top: 297px;
    }
    .header_bg3 {
        background: url(../images/Group_726.png) no-repeat bottom 37px left 6%,url(../images/Group_724.png) no-repeat top 451px right 70%;
        background-size: 13%;
        height: 840px;
    }
    .header_top .nav-link>span{
        display: none;
    }
    .header_inner .logo-img {
        width: 218px;
    }
    .service_main {
        max-width: 100%;
        height: 422px;
        background-size: 96%;
        padding: 76px 52px 0px 47px;
    }
    .ser_md_card1 {
        margin-top: 425px;
    }
    .ser_md_card2 {
        margin-top: 429px;
    }
    .services p {
        color: #A8A8A8;
        font-size: 15px;
        padding: 2px 69px;
    }
    .service_main>img {
        margin-top: -10px;
        width: 60px;
    }
    .ser_md_card1 {
        margin-top: 414px;
    }
    .ser_md_card2 {
        margin-top: 414px;
    }
    .weare_sec {
        background: url(../images/Polygon_18.png) repeat-x top 0% left 154%;
        background-size: 385px;
        margin-top: 333px;
    }
    .weare_sec .weare_inner {
        padding-top: 110px;
    }
    .weare_btn>button {
        margin-bottom: 20px;
    }
    .weare_btn>button {
        margin-bottom: 14px;
        font-size: 16px;
    }
    .our_works .slick-slide{
        width:120px !important;
        margin: 0;
    }
    .our_works h2 {
        text-align: center;
        padding: 0px;
    }
    .our_works h2{
        text-align: center;
        padding: 0px;
        font-size: 35px;
        margin-top: 46px;
    }
    .our_clients h2{
        font-size: 35px;
    }
    .our_clients_inner {
        padding-top: 94px;
        padding-bottom: 106px;
    }
    .callus_inner{
        flex-direction:column;
        align-items: center;
    }
    .callus h1 {
        font-size: 32px;
        margin-bottom: 14px;
    }
    .callus button {
        font-size: 24px;
        padding: 7px 30px;
    }
    .clients_bg {
        background-size: 24%;
        top: 38%;
        left: -49px;    
    }
    .clients_bg2 {
        background: url(../images/Polygon_17.png) no-repeat right -16% top -62px;
        background-size: 34%;
    }
    .clients_bg3 {
        background: url(../images/Group_730.png) no-repeat top 0 left 9%,url(../images/Group_726.png) no-repeat top 0 right 36%;
        background-size: 14%;
        top: 18px;
    }
    .clients_bg4 {
        background: url(../images/Group_732.png) no-repeat bottom 0 left 40%,url(../images/Group_732.png) no-repeat bottom 0 right 9%;
        background-size: 15%;
    }
    .callus_bg4 {
        background: url(../images/Polygon_22.png) no-repeat bottom 14px left 9%,url(../images/Polygon_21.png) no-repeat bottom 155px right 15%,url(../images/Polygon_20.png) no-repeat bottom 25px right -20%,url(../images/Polygon_20.png) no-repeat bottom 3px right 25%;
        background-size: auto,12%,29%,12%;
    }
    /* .weare_sec .weare-img {
        width: 100%;
    } */
}
@media (min-width: 576px ) and (max-width: 767px){
    /* .header_top .nav-link>span {
        font-size: 14px;
        color: #FFFFFF;
        margin-left: 8px;
    } */
   
    div#navbarNav2 {
        background: #FFFFFF;
        margin-top: -44px;
        padding: 5px 25px;
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 6px 16px rgb(0 0 0 / 16%);
        border-radius: 5px;
    }
    
    .widget-about{
        text-align: center;
    }
    
    .widget-about {
        display: flex;
        justify-content: center;
    } 
    .footer-area img {
        max-width: 100%;
        width: 41%;
    }
    .footer-area .footer-big .footer-widget {
        margin-bottom: 0px;
    }
    .footer-area .footer-big {
        padding: 2px 0 0px 0;
    }
    .bg_img {
        background-size: 54%;
        top: 0%;
        left: -61px;
    }
    .bg_img1 {
        background-size: 45% !important;
        top: -28px;
        background: url(../images/Polygon_18.png) no-repeat;
        background-position: right -15% top !important;
    }
    .bg_img2 {
        background: url(../images/Group_751.png) no-repeat bottom 160px right 36%,url(../images/Group_751.png) no-repeat top 19px right 63%;
        background-size: 8%;
    }
    .heading_title {
        padding-top: 0px;
    }
    .heading h1 {
        font-size: 28px;
    }
    .header_bg {
        background-size: 91%;
        left: -112px;
        top: 8%;
    }
    .header_bg2 {
        background: url(../images/Polygon_18.png) no-repeat right -8% top;
        background-size: 32%;
        top: 130px;
    }
    .header_bg3 {
        background: url(../images/Group_726.png) no-repeat bottom 204px left 83%,url(../images/Group_724.png) no-repeat top 163px right 31%;
        background-size: 10%;
    }
    .header_top .nav-link>span {
        font-size: 14px;
    }
    .header_top .nav-link>i {
        font-size: 22px;
    }
    .service_main {
        max-width: 100%;
        height: 422px;
        background-size: 98%;
    }
    .ser_md_card1 {
        margin-top: 425px;
    }
    .ser_md_card2 {
        margin-top: 429px;
    }
    .services p {
        color: #A8A8A8;
        font-size: 15px;
        padding: 0px 59px;
    }
    .service_main>img {
        margin-top: -10px;
        width: 60px;
    }
    .weare_sec {
        background: url(../images/Polygon_18.png) repeat-x top -2% left 84%;
        background-size: 385px;
        margin-top: 333px;
    }
    .weare_sec .weare_inner {
        padding-top: 110px;
    }
    .weare_btn>button {
        margin-bottom: 20px;
    }
    .weare_btn>button {
        margin-bottom: 14px;
        font-size: 16px;
    }
    .weare_sec .weare-img {
        width: 100%;
    }
    .our_works .slick-slide{
        width: 120px !important;
        margin: 0;
    }
    .our_works h2{
        padding: 7px;
    }
    .our_works h2{
        text-align: center;
        padding: 0px;
        font-size: 35px;
        margin-top: 46px;
    }
    .our_clients h2{
        font-size: 37px;
    }
    .our_clients_inner {
        padding-top: 94px;
        padding-bottom: 106px;
    }
    .callus_inner{
        flex-direction:column;
        align-items: center;
    }
    .callus h1 {
        font-size: 32px;
        margin-bottom: 14px;
    }
    .callus button {
        font-size: 24px;
        padding: 7px 30px;
    }
    .clients_bg {
        background-size: 26%;
        top: 39%;
        left: -49px;
    }
    .clients_bg2 {
        background: url(../images/Polygon_17.png) no-repeat right -16% top -79px;
        background-size: 34%;
    }
    .clients_bg3 {
        background: url(../images/Group_730.png) no-repeat top 0 left 18%,url(../images/Group_726.png) no-repeat top 0 right 25%;
        background-size: 13%;
        top: 18px;
    }
    .clients_bg4 {
        background: url(../images/Group_732.png) no-repeat bottom 0 left 32%,url(../images/Group_732.png) no-repeat bottom 0 right 31%;
        background-size: 10%;
    }
    .callus_bg4 {
        background: url(../images/Polygon_22.png) no-repeat bottom 14px left 9%,url(../images/Polygon_21.png) no-repeat bottom 147px right 15%,url(../images/Polygon_20.png) no-repeat bottom -7px right -20%,url(../images/Polygon_20.png) no-repeat bottom 11px right 29%;
        background-size: auto,12%,29%,9%;
    }
}
@media (min-width: 768px ) and (max-width: 991px){
    div#navbarNav2 {
        background: #FFFFFF;
        margin-top: -44px;
        padding: 5px 25px;
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 6px 16px rgb(0 0 0 / 16%);
        border-radius: 5px;
    }
    .bg_img {
        background-size: 41%;
        top: 0%;
        left: -48px;
    }
    .bg_img1 {
        background-size: 36%;
    }
    .bg_img2 {
        background: url(../images/Group_751.png) no-repeat bottom 160px right 36%,url(../images/Group_751.png) no-repeat top 19px right 63%;
        background-size: 8%;
    }
    .heading_title {
        padding-top: 0px;
    }
    .heading h1 {
        font-size: 34px;
    }
    .header_bg {
        background-size: 70%;
        left: -97px;
    }
    .header_bg2 {
        background: url(../images/Polygon_18.png) no-repeat right -3% top;
        background-size: 26%;
    }
    .header_bg3 {
        background: url(../images/Group_726.png) no-repeat bottom 204px left 65%,url(../images/Group_724.png) no-repeat top 184px right 34%;
        background-size: 9%;
    }   
    .service_main {
        max-width: 100%;
        height: 406px;
        background-size: 75%;
    }
    .ser_md_card1 {
        margin-top: 425px;
    }
    .ser_md_card2 {
        margin-top: 429px;
    }
    .services p {
        color: #A8A8A8;
        font-size: 15px;
        padding: 0px 153px;
    }
    .service_main>img {
        margin-top: -15px;
        width: 70px;
    }
    .weare_sec {
        background: url(../images/Polygon_18.png) repeat-x top -2% left 84%;
        background-size: 385px;
        margin-top: 333px;
    }
    .weare_sec .weare_inner {
        padding-top: 110px;
    }
    .weare_btn>button {
        margin-bottom: 20px;
    }
    .weare_btn>button {
        margin-bottom: 14px;
        font-size: 16px;
    }
    .weare_sec .weare-img {
        width: 100%;
    }


    .our_works h2{
        text-align: center;
        padding: 0px;
        font-size: 37px;
        margin-top: 53px;
    }
    .our_clients h2{
        font-size: 37px;
    }
    .our_clients_inner {
        padding-top: 94px;
        padding-bottom: 106px;
    }
    .callus h1 {
        font-size: 33px;
        margin-bottom: 14px;
    }
    .callus button {
        font-size: 26px;
        padding: 7px 30px;
    }
    .clients_bg {
        background-size: 20%;
        top: 39%;
        left: -49px;
    }
    .clients_bg2 {
        background: url(../images/Polygon_17.png) no-repeat right -16% top -79px;
        background-size: 34%;
    }
    .clients_bg3 {
        background: url(../images/Group_730.png) no-repeat top 0 left 18%,url(../images/Group_726.png) no-repeat top 0 right 25%;
        background-size: 13%;
        top: 18px;
    }
    .clients_bg4 {
        background: url(../images/Group_732.png) no-repeat bottom 0 left 32%,url(../images/Group_732.png) no-repeat bottom 0 right 31%;
        background-size: 9%;
    }
    .callus_bg4 {
        background: url(../images/Polygon_22.png) no-repeat bottom 14px left 9%,url(../images/Polygon_21.png) no-repeat bottom 93px right 9%,url(../images/Polygon_20.png) no-repeat bottom -8px right -9%,url(../images/Polygon_20.png) no-repeat bottom 102px right 98%;
        background-size: auto,8%,15%,6%;
    }
}
@media (min-width: 992px ) and (max-width: 1199px){

.bg_img {
    background-size: 33%;
    top: 0%;
    left: -47px;
}
.bg_img1 {
    background-size: 30%;
}
.bg_img2 {
    background: url(../images/Group_751.png) no-repeat bottom 160px right 36%,url(../images/Group_751.png) no-repeat top 19px right 63%;
}
/* -------------------- NEW CODE -------------*/
.header_inner .logo-img {
    width: 200px;
}
.header_inner a.nav-link {
    font-size: 15px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 1.1rem;
}
.header_bg {
    background-size: 61%;
    top: 0%;
    left: -108px;
}
.header_bg2 {
    background: url(../images/Polygon_18.png) no-repeat right -4% top;
    background-size: 22%;
}
.header_bg3 {
    background: url(../images/Group_726.png) no-repeat bottom 172px left 50%,url(../images/Group_724.png) no-repeat top 184px right 34%;
    background-size: 8%;
}
.service_main {
    text-align: center;
    padding: 153px 0px 0px 0px;
    background: url(../images/Polygon_28.png) no-repeat center;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    right: 0px;
    top: -15px;
    max-width: 100%;
    height: 615px;
    background-size: 144%;
}
.services p {
    color: #A8A8A8;
    font-size: 14px;
    padding: 0px 17px;
}

.service_main>img {
    margin-top: 10px;
    width: 50px;
}
.weare_sec {
    background: url(../images/Polygon_18.png) repeat-x top -2% left 72%;
    background-size: 363px;
    margin-top: 420px;
}
.weare_sec .weare_inner {
    padding-top: 110px;
}
.weare_btn>button {
    margin-bottom: 20px;
}
.our_works .slick-slide{
    width: 220px !important;
    margin: 0;
}
.heading .learn_btn{
    margin-top: 20px;
}
.our_works h2{
    text-align: center;
    padding: 0px;
    font-size: 41px;
    margin-top: 53px;
}
.our_clients h2{
    font-size: 41px;
}
.our_clients_inner {
    padding-top: 100px;
    padding-bottom: 118px;
}
.callus h1 {
    font-size: 33px;
    margin-bottom: 14px;
}
.callus button {
    font-size: 26px;
    padding: 7px 30px;
}
.clients_bg {
    background-size: 16%;
    top: 42%;
    left: -49px;
}
.clients_bg2 {
    background: url(../images/Polygon_17.png) no-repeat right -12% top -79px;
    background-size: 28%;
}
.clients_bg3 {
    background: url(../images/Group_730.png) no-repeat top 0 left 20%,url(../images/Group_726.png) no-repeat top 0 right 22%;
    background-size: 12%;
    top: 18px;
}
.clients_bg4 {
    background: url(../images/Group_732.png) no-repeat bottom 0 left 32%,url(../images/Group_732.png) no-repeat bottom 0 right 31%;
    background-size: 8%;
}
.callus_bg4 {
    background: url(../images/Polygon_22.png) no-repeat bottom 14px left 9%,url(../images/Polygon_21.png) no-repeat bottom 93px right 9%,url(../images/Polygon_20.png) no-repeat bottom -8px right -9%,url(../images/Polygon_20.png) no-repeat bottom -3px right 18%;
    background-size: auto,8%,15%,7%;
}
}
@media (min-width: 1200px ) and (max-width: 1293px){
    .weare_sec {
        background: url(../images/Polygon_18.png) repeat-x top -63% left 15%;
        background-size: 502px;
        margin-top: 426px;
    }
}
@media (max-width:991px) {
    .footer-area .footer-menu {
         padding-left:0
        }
        div#navbarNav2 {
            position: absolute;
            top: 95%;
            width: 100%;
            z-index: 1500;
        }
       }