body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
  }
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 2.1rem;
}

.header_inner a.nav-link {
    font-size: 20px;
}  
.header_inner .logo-img{
    width: 300px;
}
.header_inner .navbar-light .navbar-nav .active>.nav-link{
    color: #D9A056;
}
.header_inner .navbar-light .navbar-nav .nav-link{
    color: #494F59;
}

.header_top .nav-link>i {
    font-size: 24px;
    color: #D9A056;
}
.header_top .nav-link>span {
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 8px;
}
.header_top,.header_top nav{
    background-color: #090909;
}

.heading h1{
    font-size: 42px;
    font-weight: 600;
}
.heading span{
    color: #D9A056;
}
.heading p{
    color: #5E7191;
}
.heading .learn_btn,.weare_sec .learn_btn{
    font-size: 23px;
    color: #945B12;
    background: transparent linear-gradient(115deg, #FFCC66 0%, #D9A056 100%) 0% 0% no-repeat padding-box;
    box-shadow: 8px 11px 14px #d9a0564d;
    border-radius: 27px;
    border: none;
    width: 160px;
    height: 44px;
}

/*------------------ services ----------------- */

.services h6{
    font-size: 25px;
    font-weight: 400;
    margin-top: 8px;
}
.services p{
    color: #A8A8A8;
    font-size: 17px;
}
.service_main>img{
    margin-top: 5px;
}
.services button{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 27px;
    border: none;
    padding: 4px 30px;
    margin-top: 7px;
}
.services button:hover{
    color: #945B12;
    background: transparent linear-gradient(116deg, #FFCC66 0%, #D9A056 100%) 0% 0% no-repeat padding-box;
    box-shadow: 8px 11px 14px #D9A0564D;
}

/* <!-- who we are --> */

.weare_sec .weare-img {
    width: 80%;
}
.weare_sec .weare-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.weare_btn>button{
    border-radius: 5px;
    color: #D9A056;
    font-size: 19px;
    border: 1px solid #D9A056;
    background: #FFFFFF;
    padding: 4px 10px;
    margin-bottom: 40px;
}
.weare_sec h1{
    color: #484B5A;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 15px;
}
.weare_sec p{
    font-size: 18px;
    color: #7D7F8B;
    margin-bottom: 25px;
}
/* ------------ our works ----------- */
.our_works h2{
    color: #484B5A;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 35px;
}
/* ------------ call us---------------- */
.callus {
    padding: 50px 0;
    background: transparent linear-gradient(102deg, #FFCC66 0%, #D9A056 100%) 0% 0% no-repeat padding-box;
    position: relative;
    box-shadow: 8px 11px 14px #d9a0564d;
}
.callus_inner {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.callus h1{
    font-size: 36px;
    color: #945B12;
    font-weight: 600;
    padding-right: 25px;
}
.callus button{
    font-size: 32px;
    color: #FBB862;
    border: none;
    background: #231F20;
    border-radius: 53px;
    box-shadow: 0px 8px 10px #c4863680;
    padding: 17px 67px;
}

/* our clients */

.our_clients h2{
color: #484B5A;
font-size: 38px;
font-weight: 600;
text-align: center;
padding-top: 20px;
}
.our_clients p{
font-size: 22px;
color: #484B5A;
padding-bottom: 20px;

}
.our_clients img{
    max-width: 160px ;
   
}
.our_clients {
    background-color: #F5F6FA !important;
}
.our_clients_inner{
    padding-top: 83px;
    padding-bottom: 108px;
}
/* --------------- slider--------------- */

.our_works h2{
    text-align:center;
    padding: 30px;
  }
  
/* products */
.product_banner h1{color: #D9A056;font-size: 40px;font-weight: 600;}
.product_banner p{color: #A8A8A8;font-size: 20px;    }
.product_banner{position: relative;}
.bg_img {
    position: absolute;
    padding: 0px;
    background: url(../images/Polygon_18.png) no-repeat left 0% top;
    z-index: 999;
    width: 100%;
    background-size: 26%;
    height: 420px;
    top: -4%;
    left: -13px;
}
.bg_img1 {
    position: absolute;
    padding: 0px;
    background: url(../images/Polygon_18.png) no-repeat right 0% top;
    z-index: 999;
    width: 100%;
    background-size: 19%;
    right: 0;
    left: 0;
    top: -35px;
    height: 420px;
}
.bg_img2 {
    position: absolute;
    padding: 0px;
    background: url(../images/Group_751.png) no-repeat bottom 160px right 28%,url(../images/Group_751.png) no-repeat top 19px right 63%;
    z-index: 999;
    width: 100%;
    background-size: auto;
    right: 0;
    left: 0;
    height: 420px;
}
.product_banner_text {
    background: #231F20;
    align-items: center;
    display: flex;
    height: 270px;
}

.pr_main {
    margin-top: 46px;
    margin-bottom: 5px;
}
.pr_main_title p{    font-size: 18px;
    color: #231F20;}
.pr_total p{  font-size: 15px;
    color: #A8A8A8;}
   .pr_total {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .pr_main_desc {
        margin: 57px 0px;
    }
.alphabet:hover{
    cursor: pointer;
}    
.pr_filter ul{
    padding-left: 0;
}
.pr_filter ul>li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding: 3px;
    
}
.filter_active{
    background-size: cover;
    background: url(../images/Polygon_35.png) no-repeat center;
    color: #D9A056; 
    padding: 10px !important;
}
.filter_form i{
font-size: 20px;
}
.filter_form .input-group-text {
    border: 1px solid #404041;
    background: #FFF;
    border-left: none;
    border-radius: 0 5px 5px 0px !important;
}
.filter_form input {
    border: 1px solid #404041;
    border-right: none;
}
.pr_filter_data {
    border: 1px solid #E3E6F8;
    background-color: #F6F8FD;
    padding-top: 18px;
}


.pr_search li{
    margin-right: -15px;
    margin-left: -15px;
    display: flex !important;
    flex-wrap: wrap !important;
    border-bottom: 1px solid #E3E6F8;
    padding-top: 20px !important;
}

.pr_search li:nth-of-type(even) {
    background-color: #F6F8FD;
  }
  .pr_search li:last-child  {
    border:none;
    background-color: #FFFFFF ;
  }
 
.pr_search h6{ font-size: 18px; }
.pr_search span{font-weight: 600; }
.pr_search p{font-size: 16px; display: inline-block;font-weight: 400;color: #A8A8A8; margin-right: 7px;}
.pr_search .pr_contact_btn{font-size: 20px;color: #945B12;background: transparent linear-gradient(115deg, #FFCC66 0%, #D9A056 100%) 0% 0% no-repeat padding-box;
    box-shadow: 8px 11px 14px #D9A0564D;
    border-radius: 27px; border: none;    padding: 10px 22px; display: none;}
    .loadmore_btn{
        border-radius: 27px;
    }
    .loadmore_btn {
        border-radius: 27px;
        font-size: 19px;
        background: #FFFFFF;
        padding: 5px 28px;
    }

/* ------------------------ footer ----------------------------- */

.footer-area ul {
    padding:0;
    margin:0
   }
.footer-area li {
    list-style:none
   }
.footer-area a:focus,a:hover {
    text-decoration:none;
    -webkit-transition:.3s ease;
    -o-transition:.3s ease;
    transition:.3s ease
   }
.footer-area a:focus {
    outline:0
   }
.footer-area img {
    max-width:100%
   }
.footer-area p {
    font-size:16px;
    line-height:30px;
    color:#898b96;
    font-weight:300
   }
.footer-area h4 {
    margin:0;
    font-weight:400;
    padding:0;
    color:#363940
   }
.footer-area h4:empty:before {
    content:'';
    min-height: 42px;
    }
.footer-area a {
    color:#5867dd
   }
.footer-area .no-padding {
    padding:0!important
   }

.footer-area .footer-big {
    padding:65px 0 0px 0
   }
.footer-area .footer-big .footer-widget {
    margin-bottom:40px
   }

.footer-area .footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
    color:#898b96
   }
.footer-area .footer-menu {
    padding-left:48px
   }
.footer-area .footer-menu ul li a {
    font-size:15px;
    line-height:32px;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s
   }
.footer-area .footer-menu ul li a:hover {
    color: #945B12;
   }
.footer-area .footer-menu--1 {
    width:100%
   }
.footer-area .footer-widget-title {
    line-height:42px;
    margin-bottom:10px;
    font-size:22px
   }
.footer-area  .footer-widget-new{
    line-height:42px;
    font-size: 18px;
}
.footer-area .mini-footer {
    text-align:center;
    padding:32px 0;
    border-top: 1px solid gray;
   }
.footer-area .mini-footer p {
    margin:0;
    line-height:26px;
    font-size:15px;
    color:#999
   }
.footer-area .mini-footer p a {
    color:#818181
   }
.footer-area .mini-footer p a:hover {
    color: #945B12;
   }
.footer-area .widget-about img {
    display:block;
    margin-bottom:30px
   }
.footer-area .widget-about p {
    font-weight:400
   }
.footer-area .widget-about .contact-details {
    margin:30px 0 0 0
   }
.footer-area .widget-about .contact-details li {
    margin-bottom:10px
   }
.footer-area .widget-about .contact-details li:last-child {
    margin-bottom:0
   }
.footer-area .widget-about .contact-details li span {
    padding-right:12px
   }
.footer-area .widget-about .contact-details li a {
    color:#5867dd
   }
.footer-area h1,h2,h3,h4,h5,h6,ul,li,a,p{
    font-family: 'Montserrat', sans-serif;
}

   @media (max-width:991px) {
.footer-area .footer-menu {
     padding-left:0
    }
   }
   
   /* ------------------------------------- New Css ---------------------------*/

   /* header section image */
.sec_1{position: relative;}
.header_bg {
    position: absolute;
    padding: 0px;
    background: url(../images/Polygon_18.png) no-repeat left 0% top;
    z-index: -1;
    width: 100%;
    background-size: 39%;
    height: 780px;
    top: 2%;
    left: -43px;
}
.header_bg2 {
    position: absolute;
    padding: 0px;
    background: url(../images/Polygon_18.png) no-repeat right 0% top;
    z-index: -1;
    width: 100%;
    background-size: 21%;
    right: 0;
    left: 0;
    top: 109px;
    height: 780px;
}
.header_bg3 {
    position: absolute;
    padding: 0px;
    background: url(../images/Group_726.png) no-repeat bottom 52px left 38%,url(../images/Group_724.png) no-repeat top 184px right 34%;
    z-index: -1;
    width: 100%;
    background-size: 8%;
    right: 0;
    left: 0;
    height: 780px;
}
.heading_title {
    padding-top: 95px;
}
.services_inner{
    position: relative;
}
.weare_sec {
    background: url(../images/Polygon_18.png) repeat-x top -86% left 32%;
    background-size: 502px;
    margin-top: 420px;
}
.weare_sec .weare_inner {
    padding-top: 87px;
    padding-bottom: 0px;
}
.service_main {
    text-align: center;
    padding: 69px 52px 0px 47px;
    background: url(../images/Polygon_28.png) no-repeat center;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    right: -83px;
    top: -15px;
    max-width: 100%;
    height: 485px;
    background-size: 135%;
}
section.services {
    margin-top: 70px;
}
.services p {
    color: #A8A8A8;
    font-size: 16px;
    padding: 0 3px;
}
.header_inner .navbar-light .navbar-nav .nav-link:hover {
    color: #D9A056 !important;
}
.owl-theme .owl-nav {
    display: none;
}
.our_clients{
    position: relative;
}
.clients_bg {
    position: absolute;
    padding: 0px;
    background: url(../images/Path_1484.png) no-repeat left 0% bottom;
    z-index: 0;
    width: 100%;
    background-size: 15%;
    height: 243px;
    top: 37%;
    left: -131px;
}
.clients_bg2 {
    position: absolute;
    padding: 0px;
    background: url(../images/Polygon_17.png) no-repeat right -10% top -120px;
    z-index: 0;
    width: 100%;
    background-size: 22%;
    right: 0;
    left: 0;
    top: 0;
    height: 399px;
}
.clients_bg3 {
    position: absolute;
    padding: 0px;
    background: url(../images/Group_730.png) no-repeat top 0 left 23%,url(../images/Group_726.png) no-repeat top 0 right 22%;
    z-index: 1;
    width: 100%;
    background-size: 10%;
    right: 0;
    left: 0;
    top: 16px;
    height: 250px;
}

.clients_bg4 {
    position: absolute;
    padding: 0px;
    background: url(../images/Group_732.png) no-repeat bottom 0 left 33%,url(../images/Group_732.png) no-repeat bottom 0 right 33%;
    z-index: 1;
    width: 100%;
    background-size: 5%;
    right: 0;
    left: 0;
    bottom: 15px;
    height: 386px;
}
.callus_bg4 {
    position: absolute;
    padding: 0;
    background: url(../images/Polygon_22.png) no-repeat bottom 14px left 9%,url(../images/Polygon_21.png) no-repeat bottom 109px right 18%,url(../images/Polygon_20.png) no-repeat bottom -10px right -6%,url(../images/Polygon_20.png) no-repeat bottom 24px right 27%;
    z-index: 1;
    width: 100%;
    background-size: auto,6%,11%,4%;
    right: 0;
    left: 0;
    bottom: 0;
    height: 300px;
}
.owl-item{
margin:0 !important;
}