body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .sec_1{
      position: relative;
  }

.header_inner a.nav-link {
    font-size: 24px;
}  
.header_inner .logo-img{
    width: 300px;
}
.header_inner .navbar-light .navbar-nav .active>.nav-link{
    color: #D9A056;
}
.header_inner .navbar-light .navbar-nav .nav-link{
    color: #494F59;
}
.header_top .nav-link>i {
    font-size: 24px;
    color: #D9A056;
}
.header_top .nav-link>span {
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 8px;
}
.header_top,.header_top nav{
    background-color: #090909;
}

.heading {
    position: absolute;
    left: 0;
    right: 0;
    top: 51px;
    z-index: -1;
    /* background: url(../images/Polygon_18.png) no-repeat center left -5%, url(../images/Group_726.png) no-repeat right 59% top 95%,url(../images/Group_724.png) no-repeat right 36% top 37%,url(../images/Polygon_18.png) no-repeat right -9% top 36%;
    background-size: 43%,8%,auto,29%; */
    
}

.heading .row{
    /* margin-top: 250px; */
    background: url(../images/Polygon_18.png) no-repeat left -26% top -29%, url(../images/Group_726.png) no-repeat right 64% top 86%,url(../images/Group_724.png) no-repeat right 30% top 38%,url(../images/Polygon_18.png) no-repeat right -26% top 29%;
    background-size: 46%,8%,8%,29%;
}
.heading .row>div {
    margin-top: 189px;
}

.heading h1{
    font-size: 42px;
    font-weight: 600;
}
.heading span{
    color: #D9A056;
}
.heading p{
    color: #5E7191;
}
.heading .learn_btn,.weare_sec .learn_btn{
    font-size: 23px;
    color: #945B12;
    background: transparent linear-gradient(115deg, #FFCC66 0%, #D9A056 100%) 0% 0% no-repeat padding-box;
    box-shadow: 8px 11px 14px #d9a0564d;
    border-radius: 27px;
    border: none;
    width: 160px;
    height: 44px;
}

/*------------------ services ----------------- */
section.services {
    margin-top: 560px;
}
/* .services_inner>div{
    text-align: center;
    background: url(../images/Polygon_28.png) no-repeat center;
    background-size: 41%,8%,auto,29%;
} */
.service_card>div {
    text-align: center;
    background: url(../images/Polygon_28.png) no-repeat center;
    color: #FFFFFF;
    padding: 102px 39px;
    background-size: 137%;
}

.services h6{
    font-size: 26px;
    font-weight: 400;
    margin-top: 8px;
}
.services p{
    color: #A8A8A8;
    font-size: 18px;
}
.services button{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 27px;
    border: none;
    padding: 4px 30px;
    margin-top: 7px;
}
.services button:hover{
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    color: #945B12;
    background: transparent linear-gradient(116deg, #FFCC66 0%, #D9A056 100%) 0% 0% no-repeat padding-box;
    box-shadow: 8px 11px 14px #D9A0564D;
    /* border-radius: 27px; */
    /* border: none; */
    /* padding: 4px 19px; */
    /* margin-top: 7px; */
}
/* <!-- who we are --> */
.weare_sec {
    /* background: url(../images/Polygon_18.png) no-repeat left 0% top 52%,url(../images/Polygon_18.png) no-repeat left 33% top 39%,url(../images/Polygon_18.png) no-repeat right 33% top 46% ,url(../images/Polygon_18.png) no-repeat right; */
    margin-top: -232px;
}
.weare_sec .weare_inner {
    padding-top: 260px;
    background: url(../images/Polygon_18.png) no-repeat left -32% top 52%,url(../images/Polygon_18.png) no-repeat left 21% top 39%,url(../images/Polygon_18.png) no-repeat right 22% top 45% ,url(../images/Polygon_18.png) no-repeat right -34% top 46%;
}
.weare_sec .weare-img {
    width: 80%;
}
.weare_sec .weare-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.weare_btn>button{
    border-radius: 5px;
    color: #D9A056;
    font-size: 19px;
    border: 1px solid #D9A056;
    background: #FFFFFF;
    padding: 4px 10px;
    margin-bottom: 40px;
}
.weare_sec h1{
    color: #484B5A;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 15px;
}
.weare_sec p{
    font-size: 18px;
    color: #7D7F8B;
    margin-bottom: 25px;
}
/* ------------ our works ----------- */
.our_works h2{
    color: #484B5A;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 35px;
}
/* ------------ call us---------------- */
.callus {
    padding: 50px 0;
    background:url(../images/Polygon_18.png) no-repeat left 0% top 15%, transparent linear-gradient(102deg, #FFCC66 0%, #D9A056 100%) 0% 0% no-repeat padding-box;
    box-shadow: 8px 11px 14px #d9a0564d;
    /* background: url(../images/Polygon_18.png) no-repeat left 0% top 52%, */

}
.callus_inner {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.callus h1{
    font-size: 36px;
    color: #945B12;
    font-weight: 600;
    padding-right: 25px;
}
.callus button{
    font-size: 32px;
    color: #FBB862;
    border: none;
    background: #231F20;
    border-radius: 53px;
    box-shadow: 0px 8px 10px #c4863680;
    padding: 17px 67px;
}

/* our clients */

.our_clients h2{
color: #484B5A;
font-size: 38px;
font-weight: 600;
text-align: center;
padding-top: 20px;
}
.our_clients p{
font-size: 22px;
color: #484B5A;
padding-bottom: 20px;

}
.our_clients img{
    width: 160px !important;
    height: 54px;
}
.our_clients {
    /* padding-top: 100px;
    padding-bottom: 120px; */
    background-color: #F5F6FA !important;
    /* background: url(../images/Path_1484.png) no-repeat left -9% top 107%,url(../images/Group_730.png) no-repeat left 26% top 19%,url(../images/Group_726.png) no-repeat left 73% top 19%,url(../images/Group_732.png) no-repeat left 34% top 94%,url(../images/Group_732.png) no-repeat left 64% top 94%,url(../images/Polygon_17.png) no-repeat left 114% top 196%; */
}
.our_clients_inner{
    padding-top: 100px;
    padding-bottom: 120px;
    background: url(../images/Path_1484.png) no-repeat left -14% top 111%,url(../images/Group_730.png) no-repeat left 26% top 19%,url(../images/Group_726.png) no-repeat left 73% top 19%,url(../images/Group_732.png) no-repeat left 34% top 94%,url(../images/Group_732.png) no-repeat left 64% top 94%,url(../images/Polygon_17.png) no-repeat left 129% top 230%;
}
/* --------------- slider--------------- */

.our_works h2{
    text-align:center;
    padding: 30px;
  }
  /* Slider */
  .our_works .slick-slide{
      width: 280px !important;
      margin: 0;
  }


  .slick-slide {
      margin: 0px 20px;
  }
  
  .slick-slide img {
      width: 100%;
  }
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
      margin: 0 auto;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }
/* --------------- slider closed ------ */
/* ------------------------ footer ----------------------------- */

.footer-area ul {
    padding:0;
    margin:0
   }
.footer-area li {
    list-style:none
   }
.footer-area a:focus,a:hover {
    text-decoration:none;
    -webkit-transition:.3s ease;
    -o-transition:.3s ease;
    transition:.3s ease
   }
.footer-area a:focus {
    outline:0
   }
.footer-area img {
    max-width:100%
   }
.footer-area p {
    font-size:16px;
    line-height:30px;
    color:#898b96;
    font-weight:300
   }
.footer-area h4 {
    margin:0;
    font-weight:400;
    padding:0;
    color:#363940
   }
.footer-area h4:empty:before {
    content:'';
    min-height: 42px;
    }
.footer-area a {
    color:#5867dd
   }
.footer-area .no-padding {
    padding:0!important
   }
/* .footer-big .row{
  border-bottom: 1px solid gray;
} */
.footer-area .footer-big {
    padding:65px 0 0px 0
   }
.footer-area .footer-big .footer-widget {
    margin-bottom:40px
   }
 /* .footer--light {
    background:#e7e8ed
   } */
.footer-area .footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
    color:#898b96
   }
.footer-area .footer-menu {
    padding-left:48px
   }
.footer-area .footer-menu ul li a {
    font-size:15px;
    line-height:32px;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s
   }
.footer-area .footer-menu ul li a:hover {
    color: #945B12;
   }
.footer-area .footer-menu--1 {
    width:100%
   }
.footer-area .footer-widget-title {
    line-height:42px;
    margin-bottom:10px;
    font-size:22px
   }
.footer-area  .footer-widget-new{
    line-height:42px;
    font-size: 18px;
}
.footer-area .mini-footer {
    /* background:#192027; */
    text-align:center;
    padding:32px 0;
    border-top: 1px solid gray;
   }
.footer-area .mini-footer p {
    margin:0;
    line-height:26px;
    font-size:15px;
    color:#999
   }
.footer-area .mini-footer p a {
    color:#818181
   }
.footer-area .mini-footer p a:hover {
    color: #945B12;
   }
.footer-area .widget-about img {
    display:block;
    margin-bottom:30px
   }
.footer-area .widget-about p {
    font-weight:400
   }
.footer-area .widget-about .contact-details {
    margin:30px 0 0 0
   }
.footer-area .widget-about .contact-details li {
    margin-bottom:10px
   }
.footer-area .widget-about .contact-details li:last-child {
    margin-bottom:0
   }
.footer-area .widget-about .contact-details li span {
    padding-right:12px
   }
.footer-area .widget-about .contact-details li a {
    color:#5867dd
   }
.footer-area h1,h2,h3,h4,h5,h6,ul,li,a,p{
    font-family: 'Montserrat', sans-serif;
}
   /* font-family: 'Montserrat', sans-serif; */
   @media (max-width:991px) {
.footer-area .footer-menu {
     padding-left:0
    }
   }
   